.get-started-today{
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-top: 200px;
}
.left-get-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 400px;
  margin-left: 280px;
  margin-top: 30px;
}

.first-get{
  font-family: Ubuntu;
  font-weight: 700;
  font-size:60px ;
}
.second-get{
  font-family: PT Sans;
  font-weight: 400;
  font-size:24px ;
  margin-top: -15px;
}
.third-get{
  font-family: PT Sans;
  font-weight: 400;
  font-size:21px ;
  margin-top: -10px;
}
.get-started-button2{
  height: 60px;
  width: 230px;
  border-radius: 10px;
  border: none;
  font-family: PT Sans;
  color: white;
  background-color:rgb(238, 52, 37);
  font-weight: 700;
  font-size: 22px;
  align-items: center;
  margin-left: 0px;
  justify-content: center;
}

.right-get-section{
  margin-left: 270px;
  position: relative;
  animation: levitate 4s ease-in-out infinite;
}
@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


