.grow-faster{
  display: flex;
  flex-direction: row;
  height: 170px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(238, 52, 37);
  margin-top:-4px ;
  width: 100%;

}
.grow-content{
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.gf-msg1{
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 28px;
  color: white;
}
.gf-msg2{
  font-family: PT Sans;
  margin-top: -20px;
  color: white;
  font-size: 16px;
}
.gf-button{
  height: 40px;
  width: 120px;
  border-radius: 6px;
  border: none;
  font-family: PT Sans;
  background-color:rgba(248,219,5,255);
  font-weight: 700;
  font-size: 14px;
  margin-left: 510px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 860px){
  .grow-faster{
    display: flex;
    flex-direction: column;
    height: 170px;
    align-items: center;
    background-color: rgb(238, 52, 37);
    width: 100%;
  }
  .gf-msg1{
    font-size: 25px;
  }
  .gf-msg2{
    font-size: 13px;
  }
  .gf-button{
    margin-left: -200px;
  }
}