.navbar{
  background-color: rgba(248,219,5,255);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  z-index: 100;
  position: fixed;
}
.ham-svg{
  display: none;
}
.navbar.scrolled{
  top:0;
}

.nav-tools{
  font-size: 14px;
  font-family: Ubuntu;
  font-weight: 500;
}
.nav-tools:hover {

  cursor: pointer;
  color: red;
}
.login-click:hover {
  
  cursor: pointer;
}
.signup-button:hover {
  
  cursor: pointer;
}
.cogoport_logo_navbar{
  width:150px;
  height:auto;
  margin-top:10px;
}
.middle-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: top;
  margin-left: 10px;
}
.login-click{
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
}
.signup-button{
  background-color:rgb(238, 52, 37);
  color: white;
  font-family: PT sans;
  font-weight: 700;
  font-size: 14px;
  border-style: solid;
  margin-left: 18px;
  border-radius: 5px;
  padding:2px 5px 2px 5px;
  border-color:rgb(238, 52, 37);
  height:30px;
  width:80px;
}

@media (max-width: 860px){

  .navbar{
    display: flex;
    justify-content: left;
    position: fixed;
    width: 80%;
  }
  .middle-section{
    display: none;
  }
  
  .right-section{
    display: none;
  }
  .ham-svg{
    display: block;
    cursor: pointer;
    border: none;
    background-color: rgba(248,219,5,255);
  }
  .left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    border-color:rgba(248,219,5,255);
  }
  .cogoport_logo_navbar{
    width:150px;
    height:auto;
    margin-left: 0px;
    margin-top:10px;
  }
}