.next-level{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(248,219,5,255);
}
.nl-msg{
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 28px;
}
.nl-button{
  height:40px;
  width: 120px;
  border-radius: 6px;
  border: none;
  font-family: PT Sans;
  color: white;
  background-color:rgb(238, 52, 37);
  font-weight: 700;
  font-size:14px;
  align-items: center;
  justify-content: center;
}