.next-level{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(248,219,5,255);
}
.nl-msg{
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 28px;
}
.nl-button{
  height:40px;
  width: 120px;
  border-radius: 6px;
  border: none;
  font-family: PT Sans;
  color: white;
  background-color:rgb(238, 52, 37);
  font-weight: 700;
  font-size:14px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 860px) {
  .next-level{
    width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -100px;
  }
  .nl-msg{
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 20px;
  }
  .nl-button{
    height:30px;
    width: 100px;
    border-radius: 6px;
    border: none;
    font-family: PT Sans;
    color: white;
    background-color:rgb(238, 52, 37);
    font-weight: 700;
    font-size:12px;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
  }
  }