.product-header{
  font-size: 28px;
  display: flex;
  justify-content: center;
  font-family: Ubuntu;
  font-weight: 700;
  margin-top: -50px;
}
.our-products{
  display: flex;
  flex-direction: column;
}
.product-grid{
  display: flex;
  height: 330px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: -30px;
}
.product-grid-two{
  display: flex;
  height: 330px;
  margin-top: -70px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.grid-title{
  font-size: 24px;
  font-family: Ubuntu;
  font-weight: 700;
  width: 25%;
  margin-left: 50px;
}
.grid-title-two{
  font-size: 24px;
  font-family: Ubuntu;
  font-weight: 700;
  width: 20%;
  margin-right: -40px;
}
.row-grid{
  width:70%;
  display: flex;
  flex-direction: row;
  margin-left: -100px;
  justify-content: space-around;
  align-items: center;
}
.row-grid-two{

  width:35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 470px;
}
.button-prac{
  display: flex;
  flex-direction: column;
  height:180px;
  width: 204px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-color:rgb(252, 247, 247);
  box-shadow: 1px 2px 7px rgba(169,188,218,.65);

}
.button-prac:hover{

  border-color:rgb(238, 52, 37);
}
.para{
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
}
.further{
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 700;
  color:rgb(238, 52, 37);
}