.stats{
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:90%;
  margin: auto;
  margin-top: -40px!important;
}
.stat1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number{
  font-size: 40px;
  font-family: Ubuntu;
  color: rgb(238, 52, 37);
  font-weight: 700;
}
.text{
  font-size: 14px;
  font-family: Ubuntu;
  font-weight: 700;
}

 @media (max-width: 860px) {
.stats{
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      text-align: left;
      margin-bottom: 30px;
      margin:auto;
} 
  
} 