.normal-container{
  background-color: rgba(248,219,5,255);
  height: 100px;
  margin-top: 100px;
}

.curved-container {
  background-color:rgb(252, 247, 247);
  border-radius: 0 0 50% 50% /200px;
  padding: 20px;
  text-align: center;
}

.subscribe-container{

  background-color:rgba(248,219,5,255);
  height: 500px;
}

.subscribe-box{
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 1500px;
  margin-left: 500px;
  align-items: center;
}

.first-sub{
  font-family: Ubuntu;
  font-size: 40px;
  font-weight: 700;
}

.second-sub{
  font-family: PT Sans;
  font-size: 23px;
  margin-top: -30px;
}

.subscribe-info{

  margin-left: 50px;
}
.subscribe-container2 {
  display: flex;
  align-items: center;
}

.email-input {
  margin-right: 0;
  padding: 8px;
  border-radius: 15px 0 0 15px;
  border: 1px solid #ccc;
  height: 50px;
  font-family: Ubuntu;
  font-size:20px;
  width: 350px;
  border: none;
}

.subscribe-button {
  margin-left: -2px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: white;
  height: 69px;
  font-family: PT Sans;
  font-weight: 700;
  font-size:20px;
  border-radius: 0 15px 15px 0;
  background-color:rgb(238, 52, 37);
  cursor: pointer;
  width:180px;
}

.arrow {
  margin-left: 6px;
}