.normal-container{
  background-color: rgba(248,219,5,255);
  height: 100px;
  margin-top: 50px;
  width: 100%;
}

.curved-container {
  background-color:rgb(252, 247, 247);
  border-radius: 0 0 100% 100% /200px;
  /* padding: 20px; */
  height: 100px;
  text-align: center;
  width: 100%;
}

.subscribe-container{

  background-color:rgba(248,219,5,255);
  height: 300px;
  width: 100%;
}

.subscribe-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.first-sub{
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
}

.second-sub{
  font-family: PT Sans;
  font-size: 16px;
  margin-top: -30px;
}

.subscribe-info{

  margin-left: 50px;
}
.subscribe-container2 {
  display: flex;
  align-items: center;
}

.email-input {
  margin-right: 0;
  padding: 8px;
  border-radius: 15px 0 0 15px;
  border: 1px solid #ccc;
  height: 30px;
  font-family: Ubuntu;
  font-size:13.33px;
  width: 260px;
  border: none;
}

.subscribe-button {
  margin-left: -2px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: white;
  height: 50px;
  font-family: PT Sans;
  font-weight: 700;
  font-size:14px;
  border-radius: 0 15px 15px 0;
  background-color:rgb(238, 52, 37);
  cursor: pointer;
  width:120px;
}

.arrow {
  margin-left: 6px;
}

@media (max-width: 860px) {

  .sub-image{
      display: none;
  }
  .subscribe-container2 {
    width: 90%;
  }
  .first-sub{
    font-size: 23px;
  }
  
  .second-sub{
    font-size: 16px;
    margin-top: -10px;
  }
}