.supply-chain-back{
  height: 550px;
}
.supply-chain{
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1800px;
  margin-left: 100px;
  
  margin-top: 50px;
}
.first-sc-line{
  font-family: Ubuntu;
  font-size: 60px;
  font-weight: 700;
}
.second-sc-line{
  margin-top:-40px;
  font-family: PT Sans;
  font-size: 19px;
}
