.work-diagram{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
}

.two-float{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.two-float2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.floated-info1{
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 1px 6px rgba(169,188,218,.65);
  width: 80%;
  height:250px;
 }
 .floated-info2{
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 1px 6px rgba(169,188,218,.65);
  margin-top: 100px;
  width: 80%;
  height:250px;
 }
 .floated-info3{
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 1px 6px rgba(169,188,218,.65);
  width: 80%;
  height:250px;
 }
 .floated-info4{
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 1px 6px rgba(169,188,218,.65);
  margin-top: 100px;
  width: 80%;
  height:250px;
 }
 .stage{

  font-family: Arial;
  color: rgb(238, 52, 37);
  font-weight: 700;
  font-size:14px;
  padding-left: 10px;
  padding-top: 18px;
 }

 .heading{
  font-family: Arial;
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
 }
 .logo-header{
  display: flex;
  margin-top: -16px;
  padding-left: 10px;
  flex-direction: row;
  align-items: center;
 }
 .bullet-info{

  width: 100%;
  margin-top: -30px;
 }
 .sentence{
  
  font-family: PT Sans;
  font-size: 16px;
 }
.left-work-section{
  width: 30%;
}
.middle-work-section{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 600px;
}
.upper-arrows{
  display: flex;
  flex-direction: row;
  width: 115%;
  justify-content: space-between;
  z-index: 100;
  margin-bottom: -20px;
}
.down-arrows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 115%;
  margin-top: -35px;
  z-index: 100;
}
.right-work-section{
  width: 30%;
}
@media (max-width: 820px) {

  .left-work-section{
    width: 100%;
  }
  .right-work-section{
    width: 100%;
  }
  .work-diagram{
    display: flex;
    flex-direction: column;
  }
  
  .laptop-image{
    width: 100%;
  }
  .middle-work-section{
    order: -1;
    width: 70%;
    margin-left: 60px;
  }
  .upper-arrows{
    display: none;
  }
  .down-arrows{
    display: none;
  }
  .two-float{
    width: 100%;
    margin-top: 30px;
  }
  .two-float2{
    width: 100%;
    margin-top: 20px;
  }
  .floated-info2{
    margin-top: 20px;
   }
   .floated-info4{
    margin-top: 20px;
   }
}