.work-header{
  font-size: 28px;
  display: flex;
  justify-content: center;
  font-family: Ubuntu;
  font-weight: 700;
  margin-top: 100px;
}
.work-buttons{
  width: 100%;
  margin-top: 10px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.two-button{
  background-color: lightgrey;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 25px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.two-button.selected{
  background-color:rgba(248,219,5,255) ;
}